Package: com.charliewhile13.ccpatch13
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 8.0)
Name: CommCenterPatch13
Depends: mobilesubstrate
Version: 2.0
Description: Hippity Hoppity make CommCenter your property
Maintainer: Charlie While
Author: Charlie While
Section: Tweaks
